*{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
        
}

nav{
    font-weight: 700;
}

nav li{
    margin-left: 50px;
}

.nav-link{
    font-family: 'Open Sans', sans-serif;
}


#main_title{
    background-color: #324b48;
    background-image: url("title_img.jpg");
    background-repeat: no-repeat;
    height: 450px;
    background-size: cover;
}

#search{
    background-color: #577772;
    padding: 40px 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#search label{
    font-size: 20px;
    padding: 10px;
}

#search button{
    padding: 2px 8px;
    border-radius: 8px;
}

#mission{
    background-color: rgb(197, 176, 168);
    padding: 30px 50px;
    text-align: center;
    display: flex;
    align-items: center;
}

#mission h2{
    color: white;
    font-size: 50px;
}

#mission p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif; 
    color: rgb(121, 99, 87);
}

.fa-seedling{
    color: #ffffff;
}

#location{
    background-color: rgb(194, 194, 194);
    padding: 30px 20px;
    height: 400px;
}

#contact_us{
    background-color: #799b96;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_us i{
    margin: 0px 0px 0px 40px;
    color: white;
}

#contact_us h4{
    color: white;
}



#volunteer_title{
    background-color: #324b48;
    background-image: url("volunteer_title_img.jpg");
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    color: rgb(214, 214, 214);
    display: flex;
    padding: 30px;
}

.important_notice{
    padding: 30px;
    background-color: #90b6b0;
}

.important_notice p {
    font-family: 'Open Sans', sans-serif; 
}


#volunteer_title h1{
    font-size: 60px;
    align-self: flex-end;
}

#Volunteer_login_registration{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: #577772;
    color: white;
    text-align: center;
}

#Volunteer_login_registration form{
    border-radius: 10px;
    padding: 10px;
    background-color: #bddad5;
    font-size: 40px;
    
}

#Volunteer_login_registration a{
    color: #1d2c2a;
}


.box{
    padding: 40px;
}

.box h3{
    padding: 20px;
}


/* registration and login style */

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.navbar-brand{
    font-size: 36px;
    margin: 0px 20px;
}

nav li{
    font-size: 20px;
    margin-left: 30px;
}

body {
    background: #577772;
    background: linear-gradient(to right, #70928d, #435e5a);
}

.card-signin {
    border: 0;
    /* border-radius: 1rem; */
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-signin .card-title {
    margin-bottom: 3rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('https://images.unsplash.com/photo-1593113646773-028c64a8f1b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
    background-size: cover;
}

.card-signin .donate_img{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.donate_info{
    padding: 20px;
    background-color:rgba(41, 41, 41, 0.6);
    border-radius: 20px;
    width: 90%;
    text-align: center;
}

.donate_img h1{
    color: #ebebeb;
    font-size: 6vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.donate_img p{
    color: #73ceb7;
    font-size: 3vw;
}

.small_img{
    width: 10%;
}

.card-signin .card-body {
    padding: 3rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 90%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #87afa9;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.edit_btn{
    margin: 20px;
    background-color:  #577772;;
}

.edit_row{
    display: flex;
    justify-content: space-between;
}

#edit_input{
    margin: 10px 5px;
    height: 40px;
    font-size: 25px;
    padding: 2px 8px;
    color: gray;
}


.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

/* for profile */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 24px;
}

.profile-header-img > img.img-circle {
    width: 180px;
    height: 180px;
    border: 4px solid #87afa9;
    border-radius: 50%;
}

.profile-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #87afa9;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}

/* 
 */

.profile_row{
    padding: 40px 40px;
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.file {
    overflow: hidden;
    margin-top: -20%;
    border: none;
    font-size: 15px;
    background: #212529b8;
}

.file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head{
    padding: 20px;
}

.profile-head h2{
    color: #333;
}
.profile-head h3{
    color: #577772;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 120px;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 19px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 19px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #577772;
}

.messages{
    color: red;
}

.profile_row{
    display: flex;
    justify-content: space-evenly;
}

#profile_picture{
    padding: 0px;
}
#search_input{
    width: 70%;
    border: 0px;
}
#edit_profile-img{
    margin-top: 50px;
}
#edit_profile_img_form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* #map {
=======
#search_profile_pic{
    width: 90%;
}
.chose_btn{
    color: red;
}

#search_input_btn{
    margin: 5px;
    width: 50%;
    padding: 2px 8px;
    border-radius: 8px;
    background-color: #577772;
    border: 0px;
    color: white;
}

.btn_delete{
    background-color: rgb(65, 7, 7);
}
/* Styling for MAP */

/* .map-container-5{
    overflow:hidden;
    position:relative;
    height:0;
    }

    .map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    } */

.search-link{
    color: white;
    font-size: 50px;
}

a:hover{
    text-decoration: none;
    color: #7d9b97;
}


/* bev trying to work on map */

#bev_map{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#map {
    height: 100%;
    background-color: grey;
  }
  /*  Generic sidebar */
  #panel {
    height: 100%;
    width: null;
    background-color: white;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: all .2s ease-out;
  }

  .open {
    width: 250px;
  }

  /* Styling for place details */
  .hero {
    width: 100%;
    height: auto;
    max-height: 166px;
    display: block;
  }

  .place,
  p {
    font-family: 'Oswald', sans-serif;
    padding-left: 18px;
    padding-right: 18px;
  }

  .details {
    color: darkslategrey;
  }

  a {
    text-decoration: none;
    color: cadetblue;
  }

  #floating-panel {
  position: absolute;
  bottom: 35px;
  left: 5%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.find_a{
    color: white;
}

.full_map_btn{
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 10px;
}

/* for donate page */

.donate_info p{
    margin-bottom: 20px;
}
.form-row{
    margin-left: 16%;
}

#donate_input{
    padding: 3px;
    border-radius: 8px;
}

.card_label{
    color: white;
    text-align: center;
}

.StripeElement {
    box-sizing: border-box;

    height: 40px;
    width: 80%;
    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;}

#donate_btn{
    width: 30%;
    background-color: #4f8f85;
}

#donate_h1{
    font-size: 3vw;
}