<!DOCTYPE html>
<html>
  <head>
    <title>Find a Food Bank</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_vt4l6ctQUT17lxgjvF2T_JRHTdb310I&libraries=places&callback=initMap">
    </script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
    <script>
      "use strict";

    let pos;
    let map;
    let bounds;
    let infoWindow;
    let currentInfoWindow;
    let service;
    let infoPane;
    
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 8,
          center: {
            lat: -34.397,
            lng: 150.644
          }
        });
        //Geocode listener
        const geocoder = new google.maps.Geocoder();
        document.getElementById("submit").addEventListener("click", () => {
          geocodeAddress(geocoder, map);
        });
      }

      function geocodeAddress(geocoder, resultsMap) {
        const address = document.getElementById("address").value;
        geocoder.geocode(
          {
            address: address
          },
          (results, status) => {
            if (status === "OK") {
              resultsMap.setCenter(results[0].geometry.location);
              new google.maps.Marker({
                map: resultsMap,
                position: results[0].geometry.location
              });
            } else {
              alert(
                "Geocode was not successful for the following reason: " + status
              );
            }
          }
        );
        getNearbyPlaces(address);
      }
      function getNearbyPlaces(address) {
            let request = {
            location: address,
            rankBy: google.maps.places.RankBy.DISTANCE,
            keyword: 'food bank'
            };
        
            service = new google.maps.places.PlacesService(map);
            service.nearbySearch(request, nearbyCallback);
        }
        
        // Handle the results (up to 20) of the Nearby Search
        function nearbyCallback(results, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
            createMarkers(results);
            }
        }
        /* Generate markers for search results */
        // Set markers at the location of each place result
        function createMarkers(places) {
            places.forEach(place => {
            let marker = new google.maps.Marker({
                position: place.geometry.location,
                map: map,
                title: place.name
            });
        
            /* Add click listeners to the markers */
            google.maps.event.addListener(marker, 'click', () => {
            let request = {
            placeId: place.place_id,
            fields: ['name', 'formatted_address', 'geometry', 'rating',
                'website', 'photos']
            };
        
            /* Fetch the details of a place when the user clicks on a marker. */
            service.getDetails(request, (placeResult, status) => {
            showDetails(placeResult, marker, status)
            });
        });
        
            // Adjust the map bounds to include the location of this marker
            bounds.extend(place.geometry.location);
            });
            /* Once all the markers have been placed, adjust the bounds of the map to */
            map.fitBounds(bounds);
        }
        
        /* Show place details in an info window */
        function showDetails(placeResult, marker, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
            let placeInfowindow = new google.maps.InfoWindow();
            placeInfowindow.setContent('<div><strong>' + placeResult.name +
                '</strong><br>' + 'Rating: ' + placeResult.rating + '</div>');
            placeInfowindow.open(marker.map, marker);
            currentInfoWindow.close();
            currentInfoWindow = placeInfowindow;
            showPanel(placeResult);
            } else {
            console.log('showDetails failed: ' + status);
            }
        }
        
        /* Load place details in a sidebar */
        // Displays place details in a sidebar
        function showPanel(placeResult) {
            // If infoPane is already open, close it
            if (infoPane.classList.contains("open")) {
            infoPane.classList.remove("open");
            }
        
            // Clear the previous details
            while (infoPane.lastChild) {
            infoPane.removeChild(infoPane.lastChild);
            }
        
            /* Display a Place Photo with the Place Details */
        
            // Add place details with text formatting
            let name = document.createElement('h1');
            name.classList.add('place');
            name.textContent = placeResult.name;
            infoPane.appendChild(name);
            if (placeResult.rating != null) {
            let rating = document.createElement('p');
            rating.classList.add('details');
            rating.textContent = `Rating: ${placeResult.rating} \u272e`;
            infoPane.appendChild(rating);
            }
            let address = document.createElement('p');
            address.classList.add('details');
            address.textContent = placeResult.formatted_address;
            infoPane.appendChild(address);
            if (placeResult.website) {
            let websitePara = document.createElement('p');
            let websiteLink = document.createElement('a');
            let websiteUrl = document.createTextNode(placeResult.website);
            websiteLink.appendChild(websiteUrl);
            websiteLink.title = placeResult.website;
            websiteLink.href = placeResult.website;
            websitePara.appendChild(websiteLink);
            infoPane.appendChild(websitePara);
            }
        
            // Open the infoPane
            infoPane.classList.add("open");
        } 

    </script>
  </head>
  <body>
    <div id="floating-panel">
      <input id="address" type="textbox" value="Sydney, NSW" />
      <input id="submit" type="button" value="City or Zip Code" />
    </div>
    <div id="map"></div>

  </body>
</html>
